 <div class="modal-body tbodymissionfacture">
                                  <div class="card mb-4" style="height: 416px;">
                    <h5 class="card-header" style="background: #d3dcf3;">LES DONNÉES DU CLIENT :</h5>
                    <!-- Account -->
                 
                    <hr class="my-0" />
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST" onsubmit="return false">
                        <div class="row">
                   
                          <div class="mb-3 col-md-2">
                            <label for="lastName" class="form-label">Site</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" value="Demandeur" readonly/>
                          </div>
                        
                     
                          <div class="mb-3 col-md-2">
                            <label for="lastName" class="form-label">Demandeur</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" value="Demandeur" readonly/>
                          </div>

                          <div class="mb-3 col-md-2">
                            <label for="lastName" class="form-label">NPT</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" value="Demandeur" readonly/>
                          </div>
                        
                          <div class="mb-3 col-md-2">
                            <label for="lastName" class="form-label">Ville DESTINATION</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" value="Demandeur" readonly/>
                          </div>

                          <div class="mb-3 col-md-2">
                            <label for="lastName" class="form-label">NUMERO TEL</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" value="Demandeur" readonly/>
                          </div>

                          <div class="mb-3 col-md-2">
                            <label for="address" class="form-label">Address :</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Address" readonly/>
                          </div>

                          <div class="mb-3 col-md-2">
                            <label for="lastName" class="form-label">DATE DEPART</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" value="Demandeur" readonly/>
                          </div>

                          <div class="mb-3 col-md-2">
                            <label for="lastName" class="form-label">DATE RETOUR</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" value="Demandeur" readonly/>
                          </div>

                          <div class="mb-3 col-md-2">
                            <label for="address" class="form-label">HEURE :</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Address" readonly/>
                          </div>
                          

                         
                         
                         
                        </div>
                      
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                                  <div class="card mb-3" style="height:300px;">
                    <h5 class="card-header" style="background: #d3dcf3;">Details DES PRESTATIONS :</h5>
                    <!-- Account -->
                 
                    <hr class="my-0" />
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST" onsubmit="return false">
                        <div class="row">
                            
                         
                      
                        </div>
                      
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                              </div>