  <select id="country" class="select2 DDLprestation_2 form-select">
                                <option value="">Prestation</option>
                              {% for item in prestation %}
                                    <option value="{{item.id}}" at="{{item.id}}">{{item.name}}</option>
                              {% endfor %}
                             
                            </select> 