 <select id="country" class="select2 DDLtypevehicule form-select">
                              <option value="{{typevehicule.id}}">{{typevehicule.designation}}</option>
                            </select>